<nav class="site-nav">
  <a href="{{ '/' | url }}">Home</a>
  <a href="{{ '/start-here/' | url }}">Start Here</a>
  <a href="{{ '/make-a-character/' | url }}">Make a Character</a>
  <a href="{{ '/species/' | url }}">Species</a>
  <a href="{{ '/atlas/' | url }}">Atlas</a>
  <a href="{{ '/history-beliefs/' | url }}">History & Beliefs</a>
  <a href="{{ '/references/' | url }}">References</a>
</nav>